
* {
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Varela Round';
}
h1 {
    font-size: 36px;
    color: var(--primary);
}
h2 {
    font-size: 30px;
}
h2.article-header {
    font-size: 26px;
    border-bottom: dotted 2px var(--gray);
}
h3 {
    font-size: 20px;
}
h3>.badge-primary {
    font-size: 18px;
}
h3>.badge-secondary {
    font-size: 16px;
}
nav {
    box-shadow: inset 0px 0px 5px #000;
}
a.nav-link {
    transition: text-shadow 0.2s ease-out;
}
a.nav-link:hover {
    text-shadow: 0px 0px 10px #000;
}
img.qr-code {
    width: 244px;
    height: 244px;
}
ul.list-group {
    box-shadow: 0px 0px 1.5px #000;
}
div.card {
    box-shadow: 0px 0px 1.5px #000;
}
.parallax-container {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax-bg {
    position: absolute;
    overflow: hidden;
    content: " ";
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 450px;
    transform: translateZ(-1px) scale(2.5) translateY(-100px);
}
#banner-video-wrapper {
    z-index: -1;
    width: 100%;
    top: 0px;
    right: 0px;
}
#banner-video {
    width: 100%;
    top: 0px;
    right: 0px;
    opacity: 100%;
    mask-image: linear-gradient(135deg, #ffffffff, #ffffff00);
}
.banner-title {
    height: 150px;
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 50px;
    animation: title-glow 10s infinite;
}
@keyframes title-glow {
    0% {
        text-shadow: 0px 0px 3px var(--primary);
    }
    50% {
        text-shadow: 0px 0px 6px var(--primary);
    }
    100% {
        text-shadow: 0px 0px 3px var(--primary);
    }
}
.menu-anchors {
    visibility: hidden;
    position: relative;
    top: -300px;
}
.picture {
    order: 1;
    width: 20px;
    filter: drop-shadow(0px 0px 1px #000);
    transition: transform 500ms ease-in-out;
}
.picture:hover {
    filter: drop-shadow(0px 0px 2px #000);
    transform: rotate3D(1, 1, 1, 360deg) scale(1.25);
}
.logo {
    width: 20px;
    margin-right: 10px;
}
.skill-dot-on, .skill-dot-off {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.skill-dot-on {
    transition: transform 0.2s ease-out;
}
.skill-dot-on:hover {
    transform: scale(1.25);
}
.skill-dot-on {
    background-color: var(--primary);
}
.skill-dot-off {
    background-color: lightgray;
}
.badge.block-badge {
    display: block;
}
.project-list {
    cursor: pointer;
}
#project-diap {
    width: 300px;
    height: 300px;
    perspective: 900px;
    margin: 50px auto;
}
#cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
div[class^=cube-face-] {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 36px;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    background: radial-gradient(#3e78b2,#004ba8);
}
.cube-face-front {
    transform: rotateY(0deg) translateZ(150px);
}
.cube-face-back {
    transform: rotateY(180deg) translateZ(150px);
}
.cube-face-right {
    transform: rotateY(90deg) translateZ(150px);
}
.cube-face-left {
    transform: rotateY(-90deg) translateZ(150px);
}
.cube-face-top {
    transform: rotateX(90deg) translateZ(150px);
}
.cube-face-bottom {
    transform: rotateX(-90deg) translateZ(150px);
}
#cube.show-front {
    transform: translateZ(-150px) rotateY(0deg);
}
#cube.show-back {
    transform: translateZ(-150px) rotateY(-180deg);
}
#cube.show-right {
    transform: translateZ(-150px) rotateY(-90deg);
}
#cube.show-left {
    transform: translateZ(-150px) rotateY(90deg);
}
#cube.show-top {
    transform: translateZ(-150px) rotateX(-90deg);
}
#cube.show-bottom {
    transform: translateZ(-150px) rotateX(90deg);
}
@media (min-width: 768px) {
    .parallax-bg {
        top: -50px;
    }
    .menu-anchors {
        top: -50px;
    }
    .banner-title {
        height: 300px;
        padding-top: 100px;
    }
    .picture {
        width: 60px;
    }
}